{
  "MariaDb": {
    "enabled": true,
    "connectionString": "Server=VOTRE_HOTE;Port=3306;Database=VOTRE_BASE;User Id=VOTRE_UTILISATEUR;Password=VOTRE_MOT_DE_PASSE"
  },
  "Maps": {
    "worldMapPath": "",
    "databaseFallbackMapId": 1
  }
}
